div{
    border :1px solid red;
    display:inline-block;
    padding: 10px;
    padding-bottom: 50px;
    border-radius: 1em;
    background-color:whitesmoke;
}
input{
    margin-left: 17px;
    padding:15px;
    background-color: rgb(255, 118, 118);
    color: white;
    border: none;
}
button{
    width: 50px;
    height: 40px;
    margin-left: 5px;
    margin-top: 5px;
    border-radius: 1em;
    border:none;
    box-shadow: 2px 5px 5px;
    color: red;
}
button:hover{
    background-color: red;
    color: white;
    border: 1px solid black;
    transition: 1s;
}
